{% extends 'base.html' %}
{% load static %}

{% block title_page %}Tickets{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<div class="">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Accueil</a></li>
        <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'tickets' %}">Tickets</a></li>
      </ol>
    </nav>

    {% include "repository_tickets_table.html" with issues=issues.open %}

</div>
{% endblock %}