 <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">
              <label for="number">Numéro:</label>
              <input class="form-control" id="number" placeholder="#"/>
          </th>
          <th scope="col">Date</th>
          <th scope="col">
            <label for="assigne">Assigne:</label>
            <select class="form-control" id="assigne">
                <option>-- Tout --</option>
              {% for assignee in assignees %}
                <option>{{ assignee.name }}</option>
              {% endfor %}
            </select>
          </th>
          <th scope="col">
            <label for="label">Label:</label>
            <select class="form-control" id="label">
                <option>-- Tout --</option>
              {% for label in labels %}
                <option>{{ label.name }}</option>
              {% endfor %}
            </select>
          </th>
          <th scope="col">
              <label for="title">Titre:</label>
              <input class="form-control" id="title" placeholder="Titre"/>
          </th>
          <th>
              <button class="btn btn-primary">Filtrer</button>
          </th>
        </tr>
      </thead>
      <tbody>
        {% for issue in issues %}
            <tr>
                <td>#{{ issue.number }}</td>
                <td class="text-nowrap">{{ issue.created_at }}</td>
                <td>
                    {% for assignee in issue.assignees %}
                      <img class="avatar rounded-circle" src="{{ assignee.avatar_url }}" title="{{ assignee.name }}" />
                    {% endfor %}
                </td>
                <td>
                    {% for label in issue.labels %}
                        <span class="badge badge-pill" style="background-color:#{{ label.color }}">{{ label.name }}</span>
                    {% endfor %}
                </td>
                <td>{{ issue.title }}</td>
                <td>
                    <button class="btn btn-secondary">Voir</button>
                </td>
            </tr>
         {% endfor %}
      </tbody>
</table>