 <table class="table table-striped">
     <form method="POST" action="">
         {% csrf_token %}
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col"></th>
            <th scope="col">
            <select class="form-control" name="status"  onchange="this.form.submit()">
                <option value="">-- Tout --</option>
              {% for stat in tickets.status %}
                <option value="{{ stat.name }}" {%if filters.status == stat.name %}selected{% endif %}>{{ stat.name|cut:"Status: " }}</option>
              {% endfor %}
            </select>
          </th>
            <th scope="col">
            <select class="form-control" name="user"  onchange="this.form.submit()">
                <option value="all">-- Tout --</option>
              {% for user in tickets.users %}
                <option value="{{ user.name}}" {%if filters.user == user.name %}selected{% endif %}>{{ user.name|cut:"User: " }}</option>
              {% endfor %}
            </select>
          </th>
          <th scope="col">

          </th>
          <th scope="col">
          </th>
          <th>
          </th>
        </tr>
      </thead>
      </form>
      <tbody>
        {% for issue in issues %}
            <tr>
                <td class="align-middle"><a href="{% url 'ticket_show' issue.number %}" >#{{ issue.number }}</a>
                </td>
                <td class="align-middle">
                    {% for assignee in issue.assignees %}
                      <img class="avatar rounded-circle" src="{{ assignee.avatar_url }}" title="{{ assignee.name }}" />
                    {% endfor %}
                </td>
                <td class="align-middle">
                    {% for label in issue.labels %}
                        {% if 'Status: ' in label.name %}
                        <span class="badge badge-pill" style="background-color:#{{ label.color }}">{{ label.name|cut:"Status: " }}</span>
                        {% endif %}
                    {% endfor %}
                </td>
                <td class="align-middle">
                    {% for label in issue.labels %}
                        {% if 'User: ' in label.name %}
                        {{ label.name|cut:"User: " }}
                        {% endif %}
                    {% endfor %}
                </td>
                <td class="align-middle">
                    {% for label in issue.labels %}
                        {% if 'Status: ' not in label.name and 'User: ' not in label.name  %}
                        <span class="badge badge-pill" style="background-color:#{{ label.color }}">{{ label.name }}</span>
                        {% endif %}
                    {% endfor %}
                </td>
                <td class="align-middle">
                    {{ issue.created_at }} - <b>{{ issue.title }}</b>
                </td>
                <td class="align-middle">
                    <a href="{% url 'ticket_show' issue.number %}" class="btn btn-primary" title="Voir"><i class="fa fa-eye"></i></a>
                </td>
            </tr>
         {% endfor %}
      </tbody>
</table>