{% extends 'base.html' %}
{% load static %}

{% block title_page %}User #{{ user.username }}{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<div class="">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Accueil</a></li>
        <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'users' %}">Admin</a></li>
        <li class="breadcrumb-item"><a href="{% url 'user_show' user.id %}">{{ user.username }}</a></li>
      </ol>
    </nav>
    <div class="jumbotron jumbotron-fluid">
          <div class="container">
            <h2 class="display-4 text-center">Utilisateur {{ user.username }}</h2>
              <ul class="text-muted p-5">
                 <li>Nom d'utilisateur : {{ user.username }}</li>
                 <li>Email : {{ user.email }}</li>
                 <li>Actif :
                 {% if user.is_active %}
                    Oui
                 {% else %}
                   Non
                 {% endif %}
                 </li>
                 <li>Statut super-utilisateur :
                 {% if user.is_superuser %}
                   Oui
                 {% else %}
                   Non
                 {% endif %}
                 </li>
             </ul>
              <div class="p-3">
                  <a href="{% url 'user_edit' user.id %}" class="btn btn-primary">Modifier</a>
                  <a href="{% url 'user_delete' user.id %}" class="btn btn-danger">Supprimer</a>
              </div>
          </div>
    </div>

</div>
{% endblock %}