{% extends 'base.html' %}
{% load static %}

{% block title_page %}Admin Users{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<div class="">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Accueil</a></li>
        <li class="breadcrumb-item" aria-current="page"><a href="{% url 'users' %}">Admin</a></li>
        <li class="breadcrumb-item active" aria-current="page">Users</li>
      </ol>
    </nav>

    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Utilisateurs</button>
            <a href="{% url 'user_add' %}" class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Ajouter</a>
      </div>
    </nav>

    {% if message %}<br><div class="alert alert-warning">{{ message }}</div>{% endif %}

     <table class="table table-striped gradient-blue">
         <thead>
         <tr>
             <th class="text-center">Actif</th>
             <th class="text-center">Super Utilisateur</th>
             <th>Nom d'utilisateur</th>
             <th>Mail</th>
             <th class="text-right">Actions</th>
         </tr>
         </thead>
         <tbody>
         {% for user in users %}
             <tr class="">
                 <td class="align-middle text-center">
                     {% if user.is_active %}
                        <i class="far fa-check-circle text-success h3"></i>
                     {% else %}
                       <i class="far fa-ban text-danger h3"></i>
                     {% endif %}
                 </td>
                 <td class="align-middle text-center">
                     {% if user.is_superuser %}
                        <i class="far fa-check-circle text-success h3"></i>
                     {% else %}
                       <i class="far fa-ban text-danger h3"></i>
                     {% endif %}
                 </td>
                 <td class="align-middle">{{ user.username }}</td>
                 <td class="align-middle">{{ user.email }}</td>
                 <td class="align-middle text-right">
                     <a href="{% url 'user_show' user.id %}" class="btn btn-primary" title="Voir"><i class="fa fa-eye"></i></a>
                     <a href="{% url 'user_edit' user.id %}" class="btn btn-primary" title="Modifier"><i class="fa fa-edit"></i></a>
                 </td>
             </tr>
         {% endfor %}
         </tbody>
     </table>
</div>
{% endblock %}