{% extends 'base.html' %}
{% load static %}

{% block title_page %}Déconnexion{% endblock %}

{% block content %}
<div>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Accueil</a></li>
        <li class="breadcrumb-item">Déconnexion</li>
      </ol>
    </nav>
    <div class="jumbotron jumbotron-fluid gradient-blue">
      <div class="container">
        <h2 class="display-4 text-center">Mon compte</h2>
         <a href="{% url 'login'%}" class="btn btn-info w-100">Cliquez ici pour vous reconnecter</a>
        </div>
    </div>
</div>

{% endblock %}