{% extends 'base.html' %}
{% load static %}

{% block title_page %}Déconnexion{% endblock %}

{% block content %}
<header class="masthead">
    <section class="page-section">
        <div class="container bg-white">
             <div class="container bg-white p-5 rounded">
            <h2 class="text-center mt-0">Déconnexion</h2>
            <hr class="divider my-2" />
        </div>
         <p class="text-muted mb-5 p-5">
            <a href="{% url 'login'%}" class="btn btn-primary">Cliquez ici pour vous reconnecter</a>
         </p>
        </div>
    </section>
</header>
{% endblock %}