{% extends 'base.html' %}
{% load static %}

{% block title_page %}Mon compte{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<div class="card">
    <div class="container">
        <div class="container bg-white">
             <div class="container bg-white p-5 rounded">
            <h2 class="text-center mt-0">Mon compte</h2>
            <hr class="divider my-2" />
        </div>
         <ul class="text-muted mb-5 p-5">
             <li>Nom d'utilisateur : {{ user.username }}</li>
             <li>Email : {{ user.email }}</li>
         </ul>
        </div>
    </div>
</div>
{% endblock %}