{% extends 'base.html' %}
{% load static %}

{% block title_page %}Mon compte{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<div>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Accueil</a></li>
        <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'profile' %}">Mon compte</a></li>
      </ol>
    </nav>
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h2 class="display-4 text-center">Mon compte</h2>
         <ul class="text-muted mb-5 p-5">
             <li>Nom d'utilisateur : {{ user.username }}</li>
             <li>Email : {{ user.email }}</li>
         </ul>
        </div>
    </div>
</div>
{% endblock %}