{% extends 'base.html' %}
{% load static %}

{% block title_page %}Inscription{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<div class="card">
    <div class="container">
         <div class="container p-5 rounded">
        <h2 class="text-center mt-0">Inscription</h2>
        <hr class="divider my-2" />
    </div>
        <form method="post" novalidate class="mb-5 p-5">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary">Inscription</button>
        </form>
    </div>
</div>
{% endblock %}